@tailwind base;
@tailwind components;
@tailwind utilities;

main {
    background-color: #333333;
    color: #fffff1;
}

h2 {
    color: #b9a157;
}

button {
    background-color: #b9a157;
    color: #280808;
    box-shadow: 2px 4px 6px #f5d565 inset;
}

header {
    background-color: #280808;
    font-family: "Lucida Handwriting";
    font-style: italic;
}

.bg-color-red {
    background-color: #920b0b;
    color: #fffff1;
}

/* 各ページの設定 */
#content {
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 2px 2px 4px rgb(245, 213, 101, 0.4);
}

.result {
    border-bottom: 3px solid #920b0b;
}

.type {
    border: 1px dotted #fffff1;
    border-radius: 100vh;
}

.top-image {
    width: 100%;
    height: 200px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.pkg-img-area {
    width: 45%;
}

.pkg-text-area {
    width: 55%;
}

.pkg-img {
    width: 140px;
    height: 80px;
}

.pkg-text-paragraph {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
}

.arrow-right {
    position: relative;
    display: inline-block;
    padding: 9px;
}

.arrow-right::before {
    content: "";
    width: 8px;
    height: 8px;
    border-top: solid 2px #280808;
    border-right: solid 2px #280808;
    position: absolute;
    left: 10px;
    top: 8px;
    transform: rotate(45deg);
}

#scroll {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}

#scroll > div {
    flex-shrink: 0;
    height: 100%;
    align-items: center;
    line-height: 1;
}

.top-warapper {
    background-color: rgba(40, 8, 8, 0.6);
}

.top-form-left {
    background-color: #b9a157;
    color: #280808;
    border-top: #280808 2px solid;
    border-bottom: #280808 2px solid;
    border-left: #280808 2px solid;
}

.top-form-right {
    background-color: #b9a157;
    color: #280808;
    border-top: #280808 2px solid;
    border-bottom: #280808 2px solid;
    border-left: #280808 2px solid;
    border-right: #280808 2px solid;
}

.top-form-inner {
    background-color: #b9a157;
    border: none;
}

.top-form-inner::placeholder {
    color: #280808;
}
