@tailwind base;
@tailwind components;
@tailwind utilities;

main{
  background-color: #333333;
  color: #FFFFF1;
}

h2{
  color: #B9A157;
}

button{
  background-color: #B9A157;
  color: #280808;
}

/* 各ページの設定 */

#content{
  width: 300px;
}