@tailwind base;
@tailwind components;
@tailwind utilities;

main {
    background-color: #333333;
    color: #fffff1;
}

h2 {
    color: #b9a157;
}

button {
    background-color: #b9a157;
    color: #280808;
}

header {
    background-color: #280808;
    font-family: "Lucida Handwriting";
    font-style: italic;
}

.bg-color-red {
    background-color: #920b0b;
    color: #fffff1;
}

/* 各ページの設定 */
#content {
    width: 300px;
}

.result {
    border-bottom: 3px solid #920b0b;
}

.type {
    border: 1px dotted #fffff1;
    border-radius: 100vh;
}

.top-image {
    width: 100%;
    height: 200px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
